[*.cs]

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = none

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none
